.container {
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  padding: 12px;
  position: relative;
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: rgb(209, 75, 75);
    font-weight: 700;
    cursor: pointer;
    border-radius: 0px 0px 0px 14px;
    padding: 0px 8px 0px 8px;
    position: absolute;
    right: 10px;
    top: 10px;
    &:hover {
      background-color: rgba(220, 112, 112, 0.5);
    }
  }
}
.imgContainer {
  display: flex;
  justify-content: center;
  position: relative;
  size: cover;
  img {
    border-radius: 5px;
    width: auto;
    height: 350px;
    object-fit: cover;
  }
}
.name {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background-color: rgba(255, 255, 97);
  border-radius: 5px;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin: 5px;
    &:hover {
      color: rgba(128, 128, 128, 0.5);
    }
  }
}
